<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Django Guitar</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{% static "CSS/my_style.css" %}"> 
    <script src='main.js'></script>
</head>
<body>
    
    <h1>Hi this is a picture of Django</h1>
    
    <img src="{% static "images/DjangoG.jpg" %}" alt="it didn¨t show">

</body>
</html>